*, *::before, *::after {
    box-sizing: border-box;
}
html,body, #__nuxt {
    height:100%;
}
body{
    width: 100%;
    max-width: 100vw;
    background-color: #171717;
    color: #FFF;
    font-family: "Monospace", sans-serif;
}
b{
    font-weight: bold;
}
main{
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: calc(100vh - 5em);
}
.section{
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Monospace", sans-serif;
    text-align: center;
    min-height: calc(100vh - 5em);
    padding-bottom: 3em;
    &.nonav{
        padding-top: 0;
    }
}
.loading{
    padding-left: 3em;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        border: 2px solid transparent;
        border-top: 2px solid greenyellow;
        animation: rotating 1s infinite;
    }
    & .nuxt-icon{
        opacity: 0;
    }
}
@keyframes rotating{
    0%{
        transfrom: rotate(0deg)
    }
    100%{
        transform: rotate(380deg);
    }
}
@font-face {
    font-family: "Monospace";
    src: url("@/assets/fonts/monos.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Monospace";
    src: url("@/assets/fonts/monosb.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Monospace";
    src: url("@/assets/fonts/monosi.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Monospace";
    src: url("@/assets/fonts/monosbi.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}